.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 85%;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top-part {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
}

#icons {
    font-size: 40px;
    color: #b800b8;
}